/*
Color schmes
https://miro.medium.com/v2/resize:fit:1100/format:webp/0*9AJ0Cn8wJuY3dRIX.png
https://miro.medium.com/v2/resize:fit:720/format:webp/0*fn1C53D1mxnkWtr-.png
https://miro.medium.com/v2/resize:fit:1100/format:webp/0*lVv2quAwUORarSm_.png
*/
@import url('variables.css');
@import url('inputs.css');
@import url('buttons.css');
@import url('tiles-containers.css');
@import url('helpers.css');
@import url('animations.css');

@font-face {
    font-family: 'Geologica';
    src: url("../fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 300;
    color: hsl(var(--gray-800));
}

p {
    font-size: .95rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsla(var(--gray-900));
    letter-spacing: -1px;
    font-family: 'Geologica', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* .layout-flex-container {
    display: flex;
    max-height: 100%;
    height: 100vh;

    & .left-side {
        flex: 0 0 auto;
        background-color: hsla(var(--gray-950), 0.83);
        width: var(--sidebar-width);
        transition: margin .5s ease-in-out;

        &.slide-and-hide {
            margin-left: calc(var(--sidebar-width) * -1);
        }
    }

    & .right-side {
        flex: 1;
        position: relative;
        overflow-y: hidden
    }

    & nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: var(--nav-height);
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: hsl(var(--white));
        box-shadow: 0 0.5px 5px 0 hsla(var(--gray-300), 0.6);
    }

    & .content {
        overflow-y: auto;
        height: 100%;
        background-color: hsla(var(--gray-100), 0.80);
        padding: calc(var(--nav-height) + 1rem) 1rem;
    }
} */

.main {
    display: grid;
    gap: 0;
    height: 100vh;

    @media (width > 425px){
        grid-template-columns: repeat(2,1fr);
    }

    & .left {
        background-color: aliceblue;
        display: flex;
        align-items: center;
    }

    & .right {
        background-size: cover;
    }

    & .main-info-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;

        & p {
            line-height: 1.6rem;
            font-size: 1.1rem;
            letter-spacing: .03rem;
            & strong {
                font-weight: 600;
            }
        }
        & h1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            white-space: nowrap;
            gap:1rem;
            font-size: 3rem;
            line-height: 4rem;
            font-weight: 700;
            color: hsl(var(--gray-700));

            & img {
                width: 3rem;
            }

            @media (width > 425px){
                line-height: 5.5rem;
                flex-direction: row;
            }

        }
    }

    .info-box {
        background-color: hsla(var(--white),.9);
        backdrop-filter: blur(1px);
        margin:5rem;
        border-radius: 10px;
        position: relative;

        & img {
            position:absolute;
            top:-1.2rem;
            left: -1rem;
            min-width: 70px;
            max-width: 100px;
        }

        & p {
            width: 100%;
            line-height: 1.4rem;
            font-size: 1.1rem;
            padding: 1.5rem 2rem 2rem 6rem;
            & strong {
                font-weight: 600;
                display: block;
                margin-bottom:.5rem
            }
        }
    }
}
