/*
Color schmes
https://miro.medium.com/v2/resize:fit:1100/format:webp/0*9AJ0Cn8wJuY3dRIX.png
https://miro.medium.com/v2/resize:fit:720/format:webp/0*fn1C53D1mxnkWtr-.png
https://miro.medium.com/v2/resize:fit:1100/format:webp/0*lVv2quAwUORarSm_.png
*/
@import url('variables.css');
@import url('inputs.css');
@import url('buttons.css');
@import url('tiles-containers.css');
@import url('helpers.css');
@import url('animations.css');

@font-face {
    font-family: 'Geologica';
    src: url("../fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff2");
}

@font-face {
    font-family: 'Lora';
    src: url("../fonts/Lora-VariableFont_wght.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: hsl(var(--gray-700));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsla(var(--gray-900));
    font-family: 'Geologica', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* .layout-flex-container {
    display: flex;
    max-height: 100%;
    height: 100vh;

    & .left-side {
        flex: 0 0 auto;
        background-color: hsla(var(--gray-950), 0.83);
        width: var(--sidebar-width);
        transition: margin .5s ease-in-out;

        &.slide-and-hide {
            margin-left: calc(var(--sidebar-width) * -1);
        }
    }

    & .right-side {
        flex: 1;
        position: relative;
        overflow-y: hidden
    }

    & nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: var(--nav-height);
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: hsl(var(--white));
        box-shadow: 0 0.5px 5px 0 hsla(var(--gray-300), 0.6);
    }

    & .content {
        overflow-y: auto;
        height: 100%;
        background-color: hsla(var(--gray-100), 0.80);
        padding: calc(var(--nav-height) + 1rem) 1rem;
    }
} */

.main {
    display: grid;
    gap: 0;
    height: 100vh;

    @media (width > 480px){
        grid-template-columns: repeat(2,1fr);
    }

    & .left {
        background-color: aliceblue;
        display: flex;
        align-items: start;
        justify-content: center;

        & .board-img {
            position: absolute;
            width: 20%;
            bottom:0;
            opacity: .07;
            animation: float 15s infinite;
            @media screen (width <= 480px){
                display: none;
            }
        }
    }

    & .right {
        /* background-color: hsla(var(--gray-900)); */
        background-image: linear-gradient(to bottom, #10031e 0, #374177 100%);
        & p {
            & span {
                font-family: Lora;
                background-image: linear-gradient(179deg,rgb(254, 97, 158) 0%, rgb(254, 97, 158) 50%,transparent 54%, transparent 10%);
                background-size:  100% 13%;
                padding-bottom: 5px;
                background-repeat: repeat-x;
                background-position: left 0% bottom 10%;
            }
            font-family: Lora;

            font-size: 1.5rem;
            background: linear-gradient(to bottom, #eee, #f4f4f4, hsla(var(--sky-200),.7));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            padding: 2rem;
            @media (min-width: 480px) {
                padding: 2rem 4rem 2rem;
            }
        }
    }

    & .main-info-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        flex: auto;
        max-width: calc(var(--mobile-width) + 400px);

        & p {
            line-height: 1.6rem;
            font-size: 1.1rem;
            & strong {
                font-weight: 600;
            }
        }

        & h1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            white-space: nowrap;
            gap:1rem;
            font-size: 3rem;
            line-height: 4rem;
            font-weight: 700;
            color: hsl(var(--gray-700));

            & img {
                width: 4rem;
            }
        }
    }
}

.error-list {
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin-top: .5rem;
     & span {
        color: rgb(143, 55, 55);
        font-size: 1rem;
     }
}

.success-message {
    text-align: center;
    padding: 1rem;
    & strong {
        font-size: 1.5rem;
        font-family: Lora;
        margin-bottom:.4rem;
        color: hsla(var(--green-700),.9);
        display: block;
        font-weight: 600;
    }
    animation: appear-from-top 1s 1;
}

.success-animation {
    margin:1rem 0 0 0;
}
.checkmark {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
