/*
Color schmes
https://miro.medium.com/v2/resize:fit:1100/format:webp/0*9AJ0Cn8wJuY3dRIX.png
https://miro.medium.com/v2/resize:fit:720/format:webp/0*fn1C53D1mxnkWtr-.png
https://miro.medium.com/v2/resize:fit:1100/format:webp/0*lVv2quAwUORarSm_.png
*/
@import url('variables.css');
/* @import url('inputs.css'); */
@import url('buttons.css');
@import url('tiles-containers.css');
@import url('helpers.css');

 @font-face {
    font-family: 'Geologica';
    src: url("../fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff2");
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 300;
    letter-spacing: 0.01rem;
    color: hsl(var(--gray-800));
 }

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: normal;
    color: hsl(var(--gray-800));
    font-family: 'Geologica', ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.layout-flex-container {
    display: flex;
    max-height: 100%;
    height: 100vh;

    & .left-side {
        flex: 0 0 auto;
        background-color: hsla(var(--gray-950), 0.83);
        width: var(--sidebar-width);
        transition: margin .5s ease-in-out;
        &.slide-and-hide {
            margin-left: calc(var(--sidebar-width) * -1);
        }
    }

    & .right-side {
        flex: 1;
        position: relative;
        overflow-y: hidden
    }

    & nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: var(--nav-height);
        display: flex;
        align-items: center;
        padding: 1rem;
        background-color: var(--white);
        box-shadow:0 0.5px 5px 0 hsla(var(--gray-300),0.6);
    }

    & .content {
        overflow-y: auto;
        height: 100%;
        background-color: hsla(var(--gray-100), 0.80);
        padding: calc(var(--nav-height) + 1rem) 1rem;
    }
}
